server-ip=127.0.0.1
server-port=25565
motd=Mineness - AI teammates
online-mode=false
enforce-secure-profile=false
gamemode=survival
difficulty=peaceful
pvp=false
spawn-protection=0
allow-flight=true
max-players=20
view-distance=10
simulation-distance=8
pause-when-empty-seconds=-1
enable-rcon=true
rcon.port=25575
rcon.password=GENERATE_PASSWORD
broadcast-rcon-to-ops=false
